<div class="panel panel-default">

	<div class="panel-body">
		<%= link_to 'Back', pins_path %>
	</div>

	<div class="panel-heading center">
		<%= image_tag @pin.image.url(:medium) %>
		<!-- link is from https://github.com/thoughtbot/paperclip -->
	</div>

	<div class="panel-body user">
		<%= @pin.user.name if @pin.user %>
		<%= @pin.description %>
		<% if @pin.user == current_user%>
			<%= link_to 'Edit', edit_pin_path(@pin) %>
      <%= link_to 'Delete', pin_path(@pin), method: :delete, data: { confirm: 'Are you sure?'}%>
		<% end %>
	</div> <hr>

  <h4>Comments</h4>  
	<div class="panel-body">
    <% @pin.comments.each do |comment| %> 
      <div class="panel-body"> 
			 <%= comment.content %>
			 <%= comment.user.name %> 
       <% if current_user && comment.user == current_user %> 
         <%= link_to 'Edit', edit_pin_comment_path(@pin, comment.id) %>
         <%= link_to 'Delete', pin_comment_path(@pin, comment.id), method: :delete, data: { confirm: 'Are you sure?'} %>
       <%end%> <hr>
      </div>
    <% end %>
	</div> <hr>
	<div class="panel-body" style="text-align:right">
		<%= link_to 'Comment', new_pin_comment_path(@pin) %> 
	</div>

</div>	